/* Style Sheet */
/* Joe Ayo */
body {
  background-color: rgb(164, 207, 221);
}

blockquote {
  font-style: italic;
  color: rgb(0, 0, 0);
}

/* Lea Trueworthy */
h1 {
  text-align: center;
  color: navy;
}